{% extends 'base.html' %} {% block content %}
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <form class="form" method="post">
        {% csrf_token %}
        <!-- Input:Text -->
        <div class="form__field">
          <p>
            Are you sure you want to Delete
            <span style="color: red">{{object}}</span> Project ?
          </p>
        </div>
        <a href="{% url 'account' %}" class="btn btn--sub btn--lg my-md"
          >Go Back</a
        >
        <input
          class="btn btn--sub btn--lg my-md"
          type="submit"
          value="Submit"
        />
      </form>
    </div>
  </div>
</main>

{% endblock %}
